<div class="class-card">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let order of productsGroupedByOrderNo">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h2>
              Order Id:
              <p>{{ order.orderNo }}</p>
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <table class="class-card-content">
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
            <tr *ngFor="let order of order.productList; let i = index">
              <td>{{ order.product.productName }}</td>
              <td class="count">{{ order.count }}</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-footer>
          Number of Items: {{ order.numberOfProducts }}
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
