<mat-toolbar *ngIf="crudHttpService.isLoggedin()" color="primary">
  <div>
      <nav mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        class="white-color"
        [ngClass]="{
          'selected-menu': link.isActive
        }">
        {{ link.label }}
      </a>
    </nav>
  </div>
  <span class="example-spacer"></span>
  {{crudHttpService.storeUserData?.firstname}} &nbsp;
  <button mat-mini-fab aria-label="Shopping Cart">
    <mat-icon>add_shopping_cart</mat-icon>
  </button> &nbsp;

  <button mat-mini-fab aria-label="Logout" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
